* {
	padding: 0;
	margin: 0;
}

body {
	background: #d0f0f4;
}

.index1, .index4 {
	height: 100vh;
	overflow: hidden;
}

.top {
	display: flex;
	align-items: center;
	padding: 5%;
	justify-content: center;
	box-sizing: border-box;

}

.top img {
	width: 18%;
	margin: 0;
	padding: 0;
	margin-right: 10px;
}

.top p {
	font-size: 50px;
	font-weight: 900;
	color: #09454b;
	margin: 0;
	padding: 0;
}

.middle {
	padding: 5%;
}

.middle .name_items {
	padding: 2% 5%;
	border-radius: 25px;
	border: 2px solid #41a1aa;
	background: white;
	text-align: center;
	width: 80%;
	margin-bottom: 20px;
	font-size: 25px;
	font-weight: 900;
	color: #0d6770;
	margin-left: 10%;
	box-sizing: border-box;
}

.middle li {
	list-style-type: none;
	padding: 2% 5%;
	border-radius: 20px;
	border: 2px solid #41a1aa;
	background: white;
	text-align: center;
	width: 60%;
	margin-left: 20%;
	box-sizing: border-box;
	margin-bottom: 10px;
	font-size: 20px;
	font-weight: 100;
	user-select: none;
	cursor: pointer;
}

.middle a {
	text-decoration: none;
	color: black;
}

.middle li:hover {
	background: #41a1aa;
	color: white;
}

.bottom {
	margin-left: 5%;
	margin-right: 5%;
	margin-bottom: 5%;
	box-sizing: border-box;
	display: flex;
	justify-content: space-between;
}

.bottom a {
	color: #0d6770;
	font-weight: 900;
	text-decoration: none;
	font-size: 20px;
}

.middle2 input {
	padding: 2% 5%;
	width: 90%;
	margin-left: 5%;
	box-sizing: border-box;
	border-radius: 30px;
	border: 2px solid #41a1aa;
	color: black;
	font-size: 15px;
	margin-bottom: 15px;
}

.middle2 p {
	margin-left: 5%;
	color: #09454b;
	font-weight: 700;
	font-size: 35px;
	text-align: center;
	margin-bottom: 10px;
	letter-spacing: 0.1em;
}

.fa-search {
	margin-left: -8vw;
	color: #09454b;
	font-size: 20px;
}

.middle2 ul {
	background: white;
	border-radius: 20px;
	padding: 4%;
	margin-bottom: 25px;
}

.middle2 li {
	list-style-type: none;
	color: #09454b;
	margin-bottom: 5px;
}

.middle2 a {
	color: #09454b;
	text-decoration: none;
	font-size: 20px;
}

.middle3 {
	height: 50vh;
	overflow-y: scroll;
}

small {
	font-style: italic;
}

::-webkit-scrollbar{
    width: 1.5%;
}

::-webkit-scrollbar-thumb{
    border-width:1px 1px 10px 2px;
    border-color: #09454B;
    background-color: #09454B;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover{
    border-width: 1px 1px 10px 2px;
    border-color: #09454B;
    background-color: #09454B;
}

::-webkit-scrollbar-track{
    border-width:0;
}

.fa-heart {
	margin-left: 5px;
}

.r1 {
	justify-content: flex-end;
}





